:root {
  --font-primary: #2F3239;
  --font-secondary: #707885;
  --theme-primary: #FF7361;
  --theme-secondary: #2F3239;
  --background: #F3F3F3;
  --background-secondary: #FFFF;
  --color-progress: #FF4928;
  --color-solve: #3D9517;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  background: var(--background);
}